@charset "utf-8";
/* CSS Document */
.accordionDiv {
	margin: 0;
	padding: 0;
	width: 100%;
}
h3 {
	background-color: #666;

	padding: 5px 10px;
	font-size: medium;
	position: relative;	
	color: #FFF;	
}
h3:hover {
	cursor: pointer;

}