@charset "utf-8";
table {
	font-size: 12px;
	style="width:100%; 
	border-width:1px;
}

table thead {
	background-color: #666;
	color: #FFF;
}

table thead th {
	text-align:center;
}

table thead th h2 a {
	color: #FFF;
}

table thead th h2 a:hover {
	color: #0F0;
}